<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sorryisme.fmarket.mapper.InventoryMapper">

    <select id="findStockQuantityForUpdate" resultType="com.sorryisme.fmarket.domain.Inventory">
        SELECT
            id,
            product_option_id,
            quantity
            FROM INVENTORY
        WHERE product_option_id IN
            <foreach collection="list" item="item" open="(" close=")" separator=",">
                #{item.productOptionId}
            </foreach>
        FOR UPDATE
    </select>

    <update id="increaseStockQuantity" parameterType="com.sorryisme.fmarket.domain.Inventory">
        UPDATE
            INVENTORY
        SET
            quantity = quantity + #{quantity}
        WHERE
            product_option_id = #{productOptionId}
    </update>

    <update id="updateStockQuantity" parameterType="com.sorryisme.fmarket.domain.Inventory">
        UPDATE inventory AS i,
            <foreach collection="list" item="item" open="(" close=")" separator=" UNION ALL ">
                SELECT #{item.productOptionId} AS product_option_id, #{item.quantity} AS quantity
            </foreach>
         AS v
            SET i.quantity = v.quantity
        WHERE i.product_option_id = v.product_option_id
    </update>

</mapper>